{% extends 'base.html.twig' %}
{% block body %}
<br>
    <div class="container">
        <h2 style="text-align: center">Twoje dane</h2><br>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Imię</td>
                <td>{{ first_name }}</td>
            </tr>
            <tr>
                <td>Nazwisko</td>
                <td>{{ last_name }}</td>
            </tr>
            <tr>
                <td>Adres</td>
                <td>{{ address }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ email }}</td>
            </tr>
            <tr>
                <td>Numer Telefonu</td>
                <td>{{ phone_number }}</td>
            </tr>
            </tbody>
        </table>
        <a href="{{ path('user_profile_edit',{'id':app.user.getId()}) }}" class="btn btn-primary">Edytuj dane</a>
        <a href="{{ path('user_profile_delete',{'id':app.user.getId()}) }}" onclick="return confirm('Na pewno chcesz usunąć profil?')" class="btn btn-danger">Usuń profil</a>
        <a href="{{ path('app_forgot_password_request') }}" class="btn btn-warning">Zmień hasło</a>
    </div>


{% endblock %}